/* External Fonts */

@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');


/* CSS Resets */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  width: 100%;
}

/* Styles */

:root {
  font-size: 18px;
}

body {
  font-family: 'Space Grotesk', sans-serif;
  height: 100vh;
}

input, button {
  font-family: 'Space Grotesk', sans-serif;
}

.main-grid {
  display: grid;
  grid-template-rows: 1fr 2fr;
  /* background-color: red; */
  height: 100%;

  width: 100%;
}

.grid-item-1 {
  border: 1px solid white;
  position: relative;
  background-image: url(images/bg-main-mobile.png);
  background-repeat: no-repeat;
  background-size: cover;
  grid-row: 1fr;
  width: 100%;
  padding: 0 1rem;
}



.card-back {
  position: absolute;
  border: 1px solid red;
  background-image: url(images/bg-card-back.png);
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: .5rem;
  width: 80%;
  top: 10%;
  right: 1rem;

}

.cvc-inp {
  position: absolute;
  display: inline;
  border: 1px solid red;
  line-height: 1;
  vertical-align: middle;
  padding: 0 .25rem;
  font-size: .6rem;
  top: 0;
}

.card-front {
  position: absolute;
  background-image: url(images/bg-card-front.png);
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: .5rem;
  width: 80%;
  left: 1rem;
  top: 50%;
  border: 1px solid green;
  z-index: 88;

}

.logo {
  position: absolute;
  width: 20%;
  top: 0;
}

.content {
  position: absolute;
  bottom: 0;
  width: 100%;
  border: 1px solid yellow;
}

.cardNo {
  text-align: center;
  width: 100%;
}

.flexbox {
  /* display: flex; */
  /* flex-direction: row; */
  /* justify-content: space-between; */
  width: 100%;
}

.flexbox div {
  flex-basis: 50%;
}

.grid-item-2 {
  background-color: blue;
  grid-row: 2fr;
  z-index: 8;
  padding-top: 4rem;
}


.form {
  border: 1px solid pink;
  padding: 0 1.5rem;
}

fieldset {
  border: none;
  width: 100%;
}

label {
  display: block;
  text-transform: uppercase;
  font-size: .9rem;
  width: 100%;
}

input::placeholder {
}

input[type='text'],
input[type='number'] {
  
}

input[placeholder='MM'],
input[placeholder='YY'] {
  box-sizing:border-box;
  font-size: 1.5rem;
  width: 2ch;
  display: inline-block;
  padding: 5px;
}

.grid-item-3 {
  grid-row: 2fr;
}
.hide {
  display: none;
}

.invisible {
  visibility: hidden;
}